@using UCOMProject.Models;
@using UCOMProject.Methods;
@using UCOMProject.Roles;
@{
    Employee employee = SessionEmp.CurrentEmp;
    List<HolidayDetailViewModel> details = Session["detail"] as List<HolidayDetailViewModel>;
    List<EmployeeViewModel> emps = Session["emps"] as List<EmployeeViewModel>;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <!--admin-->
    <link href="~/Content/admin/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Content/admin/css/sb-admin-2.css" rel="stylesheet" />
    <!--jqueryloading-->
    <link href="~/Content/loading.css" rel="stylesheet" />
    <!--site-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--main-->
    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @RenderSection("Style", false)
    <style>
        html, body {
            font-family: Arial !important;
            font-size: 16px !important;
        }

        .bg-gradient-light {
            background-color: #f8f9fc;
            background-image: linear-gradient(180deg, #0719aa 50%, #c2cbe5 100%);
            background-size: cover;
        }

        .bg-gradient-dark {
            background-color: #5a5c69;
            background-image: linear-gradient(180deg, #123456 50%, #373840 100%);
            background-size: cover;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("index","home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Employee<sup>sys</sup></div>
            </a>

            @switch (employee.JobRank)
            {
                case 0:
                    <p class="text-light text-center mb-0">
                        <small class="badge">
                            @employee.Branch&nbsp;@employee.Shift&nbsp; @employee.EId
                        </small>
                    </p>
                    <p class="text-light text-center">
                        <small class="badge badge-danger">@employee.JobTitle</small>
                    </p>
                    break;
                case 2:
                    <p class="text-light text-center mb-0">
                        <small class="badge">
                            @employee.Branch&nbsp;@employee.Shift&nbsp; @employee.EId
                        </small>
                    </p>
                    <p class="text-light text-center">
                        <small class="badge badge-primary">@employee.JobTitle</small>
                    </p>
                    break;
            }
            <hr class="sidebar-divider">

            <a href="@Url.Action("Detail","Employee")">
                <img class="rounded-circle headImgLayout rounded mx-auto d-block" src="~/img/@SessionEmp.CurrentEmp.Image">
            </a>

            <p class="text-light text-center">
                <span>@employee.Name</span>
                <small>@employee.EnglishName</small>
            </p>
            <hr class="sidebar-divider">


            <div class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1"
                   aria-expanded="true" aria-controls="collapse1">
                    <i class="fas fa-info-circle"></i>
                    <span>個人資料</span>
                </a>
                <div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("detail" , "employee")">
                            <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                            檢視
                        </a>
                        <a class="collapse-item" href="@Url.Action("edit","employee")">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2"></i>
                            修改
                        </a>

                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2"
                   aria-expanded="true" aria-controls="collapse2">
                    <i class="fas fa-holly-berry"></i>
                    <span>休假相關</span>
                </a>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("apply","holiday" , new { eid = employee.EId , shift = employee.Shift})">
                            <i class="fas fa-house-damage fa-sm fa-fw mr-2"></i>
                            申請
                        </a>
                        <a class="collapse-item" href="@Url.Action("index","holiday")">
                            <i class="fas fa-inbox fa-sm fa-fw mr-2"></i>
                            審核進度
                        </a>
                        <a class="collapse-item" href="@Url.Action("record","holiday")">
                            <i class="fas fa-table fa-sm fa-fw mr-2"></i>
                            歷史紀錄
                        </a>

                    </div>
                </div>
            </div>
            @switch (SessionEmp.CurrentEmp.JobRank)
            {
                case (int)RoleType.Manager:
                    <div class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
                           aria-expanded="true" aria-controls="collapse3">
                            <i class="fas fa-calendar"></i>
                            <span>生產相關</span>
                        </a>
                        <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="@Url.Action("IndexByUser" , "schedule")">
                                    <i class="fas fa-table fa-sm fa-fw mr-2"></i>
                                    個人休假總覽
                                </a>
                                <a class="collapse-item" href="@Url.Action("index" , "schedule")">
                                    <i class="fas fa-table fa-sm fa-fw mr-2"></i>
                                    部門休假總覽
                                </a>
                                <a class="collapse-item" href="@Url.Action("AttendanceDay" , "schedule" , new { date = DateTime.Now.ToShortDateString()})">
                                    <i class="fas fa-plane fa-sm fa-fw mr-2"></i>
                                    每日員工出勤
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                           aria-expanded="true" aria-controls="collapsePages">
                            <i class="fas fa-address-book"></i>
                            <span>主管相關</span>
                        </a>
                        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" href="@Url.Action("review","holiday")">
                                        <i class="fas fa-umbrella-beach fa-sm fa-fw mr-2"></i>
                                        休假審核
                                    </a>
                                    @*<a class="collapse-item" href="@Url.Action("create" , "employee")">
                                        <i class="fas fa-newspaper fa-sm fa-fw mr-2"></i>
                                        建立員工資料
                                    </a>
                                    <a class="collapse-item" href="@Url.Action("review" , "employee")">
                                        <i class="fas fa-laptop-code fa-sm fa-fw mr-2"></i>
                                        部門權限設定
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    break;
                case (int)RoleType.Admin:

                    <div class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
                           aria-expanded="true" aria-controls="collapse3">
                            <i class="fas fa-calendar"></i>
                            <span>生產相關</span>
                        </a>
                        <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="@Url.Action("IndexByUser" , "schedule")">
                                    <i class="fas fa-table fa-sm fa-fw mr-2"></i>
                                    個人休假總覽
                                </a>
                                <a class="collapse-item" href="@Url.Action("index" , "schedule")">
                                    <i class="fas fa-table fa-sm fa-fw mr-2"></i>
                                    員工休假總覽
                                </a>
                                <a class="collapse-item" href="@Url.Action("AttendanceDay" , "schedule" , new { date = DateTime.Now.ToShortDateString()})">
                                    <i class="fas fa-plane fa-sm fa-fw mr-2"></i>
                                    每日員工出勤
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                           aria-expanded="true" aria-controls="collapsePages">
                            <i class="fas fa-gavel"></i>
                            <span>管理員相關</span>
                        </a>
                        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="@Url.Action("review","holiday")">
                                    <i class="fas fa-umbrella-beach fa-sm fa-fw mr-2"></i>
                                    休假審核
                                </a>
                                <a class="collapse-item" href="@Url.Action("create" , "employee")">
                                    <i class="fas fa-newspaper fa-sm fa-fw mr-2"></i>
                                    建立員工檔案
                                </a>
                                <a class="collapse-item" href="@Url.Action("review" , "employee")">
                                    <i class="fas fa-laptop-code fa-sm fa-fw mr-2"></i>
                                    員工權限設定
                                </a>
                            </div>
                        </div>
                    </div>
                    break;
                default:
                    break;
            }

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </div>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <div class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                @if (details != null)
                                {
                                    if (details.Count() > 0)
                                    {
                                        <span class="badge badge-danger badge-counter">@details.Count()</span>
                                    }
                                }
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    TO DO LIST
                                </h6>
                                @if (details != null)
                                {
                                    foreach (HolidayDetailViewModel d in details)
                                    {
                                        EmployeeViewModel emp = emps.FirstOrDefault(e => e.EId == d.EId);
                                        <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Review" , "Holiday")">
                                            <div class="dropdown-list-image mr-3">
                                                <img class="rounded-circle" src="~/img/@emp.Image"
                                                     alt="...">
                                                <div class="status-indicator bg-success"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate">
                                                    @emp.Branch
                                                    @emp.EId
                                                    @emp.Name
                                                </div>
                                                <div class="small text-gray-900">
                                                    @d.Title -
                                                    @d.BeginDate.ToShortDateString()
                                                    ~ @d.EndDate.ToShortDateString()
                                                </div>
                                            </div>
                                        </a>
                                    }
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                }
                            </div>
                        </li>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    登出
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">確定要登出?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                    <a class="btn btn-primary" href="@Url.Action("logout" , "account")">確定</a>
                </div>
            </div>
        </div>
    </div>

    <!--main-->
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/jquery-3.6.3.js"></script>

    <!--moment-->
    <script src="~/Scripts/moment/moment.js"></script>
    <script src="~/Scripts/moment/moment-with-locales.js"></script>
    <!--sweetalert-->
    <script src="~/Scripts/alert/sweetalert.js"></script>

    <!--jqueryloading-->
    <script src="~/Scripts/Jqueryloading.js"></script>
    <!--admin-->
    <script src="~/Content/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/admin/vendor/jquery-easing/jquery.easing.js"></script>
    <script src="~/Content/admin/js/sb-admin-2.js"></script>
    <!--site-->>
    <script src="~/Scripts/site.js"></script>

    @RenderSection("Script", false)
</body>
</html>