@using UCOMProject.Models;
@using UCOMProject.Methods;
@{
    Employee employee = SessionEmp.CurrentEmp;
    List<HolidayDetailViewModel> details = Session["detail"] as List<HolidayDetailViewModel>;
    List<EmployeeViewModel> emps = Session["emps"] as List<EmployeeViewModel>;

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <!--admin-->
    <link href="~/Content/admin/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Content/admin/css/sb-admin-2.css" rel="stylesheet" />
    <!--jqueryloading-->
    <link href="~/Content/loading.css" rel="stylesheet" />
    <!--site-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--main-->
    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @RenderSection("Style", false)
    <style>
        html, body {
            font-family: Arial !important;
            font-size: 16px !important;
        }

        .bg-gradient-light {
            background-color: #f8f9fc;
            background-image: linear-gradient(180deg, #0719aa 50%, #c2cbe5 100%);
            background-size: cover;
        }

        .bg-gradient-dark {
            background-color: #5a5c69;
            background-image: linear-gradient(180deg, #123456 50%, #373840 100%);
            background-size: cover;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div class="navbar-nav bg-gradient-light sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("index","home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Employee<sup>sys</sup></div>
            </a>
            <span class="badge badge-light">
                @SessionEmp.CurrentEmp.Branch @SessionEmp.CurrentEmp.Shift
                <span class="badge badge-success">
                    @SessionEmp.CurrentEmp.JobTitle
                </span>
            </span>
            <span class="badge badge-info">
                @SessionEmp.CurrentEmp.EId @SessionEmp.CurrentEmp.Name
                <span class="badge badge-secondary">
                    年資 @Session["seniority"]
                </span>
            </span>
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">

            <div class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-person-booth"></i>
                    <span>個人相關</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">休假系統</h6>
                        <a class="collapse-item" href="@Url.Action("apply","holiday" , new { eid = employee.EId , shift = employee.Shift})">申請</a>
                        <a class="collapse-item" href="@Url.Action("index","holiday")">審核進度</a>
                        <a class="collapse-item" href="@Url.Action("record","holiday")">歷史紀錄</a>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
                   aria-expanded="true" aria-controls="collapse3">
                    <i class="fas fa-calendar"></i>
                    <span>生產相關</span>
                </a>
                <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">排班系統</h6>
                        <a class="collapse-item" href="@Url.Action("index" , "schedule")">出勤總覽</a>
                        @*<a class="collapse-item" href="#">人力通知</a>
                            <a class="collapse-item" href="#">歷史紀錄</a>*@
                    </div>
                </div>
            </div>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            @*<div class="sidebar-card d-none d-lg-flex">
                    <img class="sidebar-card-illustration mb-2" src="~/img/undraw_rocket.svg" alt="...">
                    <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
                </div>*@
        </div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <div class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--<li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>-->
                        <!-- Counter - Alerts -->
                        <!--<span class="badge badge-danger badge-counter">3+</span>
                        </a>-->
                        <!-- Dropdown - Alerts -->
                        <!--<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>-->
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                @if (details != null)
                                {
                                    if (details.Count() > 0)
                                    {
                                        <span class="badge badge-danger badge-counter">@details.Count()</span>

                                    }
                                }
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                @if (details != null)
                                {
                                    foreach (HolidayDetailViewModel d in details)
                                    {
                                        <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Index" , "Holiday")">
                                            <div class="dropdown-list-image mr-3">
                                                <img class="rounded-circle" src="~/img/@SessionEmp.CurrentEmp.Image"
                                                     alt="...">
                                                <div class="status-indicator bg-success"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate">
                                                    @d.Title
                                                    <span class="badge badge-danger">@d.Reason</span>
                                                </div>
                                                <div class="small text-gray-900">
                                                    @d.BeginDate.ToShortDateString() ~
                                                    @d.EndDate.ToShortDateString()
                                                </div>
                                            </div>
                                        </a>
                                    }
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                }
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@employee.EnglishName</span>
                                <img class="img-profile rounded-circle" src="~/img/@employee.Image">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("detail" , "employee")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    檢視個人資訊
                                </a>
                                <a class="dropdown-item" href="@Url.Action("edit","employee")">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    修改個人資訊
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    登出
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">確定要登出?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">您目前尚有編輯未完成的工作</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                    <a class="btn btn-primary" href="@Url.Action("logout" , "account")">確定</a>
                </div>
            </div>
        </div>
    </div>

    <!--main-->
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/jquery-3.6.3.js"></script>
    <!--moment-->
    <script src="~/Scripts/moment/moment.js"></script>
    <script src="~/Scripts/moment/moment-with-locales.js"></script>
    <!--sweetalert-->
    <script src="~/Scripts/alert/sweetalert.js"></script>

    <!--jqueryloading-->
    <script src="~/Scripts/Jqueryloading.js"></script>
    <!--admin-->
    <script src="~/Content/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/admin/vendor/jquery-easing/jquery.easing.js"></script>
    <script src="~/Content/admin/js/sb-admin-2.js"></script>\
    <!--site-->>
    <script src="~/Scripts/site.js"></script>

    @RenderSection("Script", false)
</body>
</html>