@model UCOMProject.Models.HolidayDetailTableViewModel
@using UCOMProject.Methods
@{
    ViewBag.Title = "休假紀錄";
}

<div id="app" class="mt-5" v-cloak>

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row form-inline d-flex justify-content-center md-form form-sm mt-0">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="搜尋休假紀錄"
                   aria-label="Search">
        </div>
        @if (SessionEmp.CurrentEmp.JobRank == 1)
        {
            <form action="@Url.Action("index")" method="get">
                <select name="eid" onchange="submit()">
                    @foreach (var emp in Model.OtherEmps)
                    {
                        <option value="@emp.EId">@emp.EId - @emp.Name</option>
                    }
                </select>
            </form>
        }
        <ul class="nav nav-pills mt-5 mb-2" id="pills-tab" role="tablist" style="justify-content:center">
            <li class="nav-item border-bottom-warning funPos" role="presentation">
                <button class="nav-link active"
                        id="pills-home-tab"
                        data-toggle="pill"
                        data-target="#pills-home"
                        type="button"
                        role="tab"
                        aria-controls="pills-home"
                        aria-selected="true">
                    待審核
                </button>
                <span class="badge badge-warning badge-counter fun funWait" v-show="allowWait.length">{{allowWait.length}}</span>
            </li>
            <li class="nav-item border-bottom-success" role="presentation">
                <button class="nav-link"
                        id="pills-profile-tab"
                        data-toggle="pill"
                        data-target="#pills-profile"
                        type="button"
                        role="tab"
                        aria-controls="pills-profile"
                        aria-selected="false">
                    已審核
                </button>
            </li>
            <li class="nav-item border-bottom-danger funPos" role="presentation">
                <button class="nav-link"
                        id="pills-contact-tab"
                        data-toggle="pill"
                        data-target="#pills-contact"
                        type="button"
                        role="tab"
                        aria-controls="pills-contact"
                        aria-selected="false">
                    退回
                </button>
                <span class="badge badge-danger badge-counter fun funBack">5</span>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" style="position:relative">
                <div class="funBtn">
                    <template v-if="isAll">
                        <div class="btn btn-sm btn-danger" v-show="isAll" @@click="delChecked">全部刪除</div>
                    </template>
                    <template v-else>
                        <div class="btn btn-sm btn-danger" v-show="isChecked" @@click="delChecked">已選擇({{isChecked}}筆)刪除</div>
                    </template>
                </div>
                <!-- DataTales Example -->
                <div class="row card shadow">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable1" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th v-show="allowWait.length">
                                            <div class="custom-control custom-checkbox text-center">
                                                <input type="checkbox" class="custom-control-input" id="checkAllTop" v-model="isAll">
                                                <label class="custom-control-label" for="checkAllTop">全選</label>
                                            </div>
                                        </th>
                                        <th>編號</th>
                                        <th>班別</th>
                                        <th>姓名</th>
                                        <th>假別</th>
                                        <th>開始日期</th>
                                        <th>結束日期</th>
                                        <th>使用天數</th>
                                        <th>事由</th>
                                        <th>提供證明</th>
                                        <th>編輯</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="data in allowWait" :key="data.id" :class="{'checkedColor':data.checked}">
                                        <td v-show="allowWait.length">
                                            <div class="custom-control custom-checkbox text-center">
                                                <input type="checkbox" class="custom-control-input" :id="'defaultUnchecked' + data.id" v-model="data.checked">
                                                <label class="custom-control-label" :for="'defaultUnchecked' + data.id"></label>
                                            </div>
                                        </td>
                                        <td>{{data.id}}</td>
                                        <td>{{data.shift}}</td>
                                        <td>{{data.name}}</td>
                                        <td>{{data.title}}</td>
                                        <td>{{formatDate(data.beginDate)}}</td>
                                        <td>{{formatDate(data.endDate)}}</td>
                                        <td>{{data.usedDays}}天</td>
                                        <td>{{data.remark}}</td>
                                        <td v-if="data.prove">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" :data-target="'#exampleModalCenter'+data.id " >
                                                證明
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" :id="'exampleModalCenter'+data.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">{{data.name}} - 請假事由 : {{data.remark}}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div v-for="img in data.proveImg" :key="img" >
                                                                <img :src="'/Uploads/' +img" alt="Alternate Text" style="width:100%;max-height:1000px" />
                                                                <hr />
                                                            </div>
                                                       
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td v-else>無需證明</td>
                                        <td><div class="btn btn-sm btn-outline-primary">編輯</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <!-- DataTales Example -->
                <div class="row card shadow">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>休假單號</th>
                                        <th>班別</th>
                                        <th>假別</th>
                                        <th>開始日期</th>
                                        <th>結束日期</th>
                                        <th>使用天數</th>
                                        <th>事由</th>
                                        <th>證明</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="data in allow" :key="data.id">
                                        <td>{{data.id}}</td>
                                        <td>{{data.shift}}</td>
                                        <td>{{data.title}}</td>
                                        <td>{{formatDate(data.beginDate)}}</td>
                                        <td>{{formatDate(data.endDate)}}</td>
                                        <td>{{data.usedDays}}天</td>
                                        <td>{{data.remark}}</td>
                                        <td v-if="data.prove">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" :data-target="'#exampleModalCenter'+data.id ">
                                                證明
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" :id="'exampleModalCenter'+data.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">{{data.name}} - 請假事由 : {{data.remark}}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div v-for="img in data.proveImg" :key="img">
                                                                <img :src="'/Uploads/' +img" alt="Alternate Text" style="width:100%;max-height:1000px" />
                                                                <hr />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td v-else>無需證明</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>
    </div>
    <!-- /.container-fluid -->



</div>

@section Script{
    <!-- Page level plugins -->
    <script src="~/Content/admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/admin/vendor/datatables/dataTables.bootstrap4.js"></script>

    <script>
        $(() => {
            // Call the dataTables jQuery plugin
            $(document).ready(function () {
                $('#dataTable1').DataTable({
                    "searching": false,
                    "language": {
                        "emptyTable": "目前暫無待審核項目..",
                    }

                });
                $('#dataTable2').DataTable({
                    "searching": false,
                    "language": {
                        "emptyTable": "暫無休假資訊..",
                    }
                });
            });
        })

        const vm =  new Vue({
            el: '#app',
            data: {
                source: {},
                allow:[],
                allowWait: [],
                employee: {},
            },
            mounted() {
                this.source = @Html.Raw(ViewBag.Source);
                this.employee = this.source.employee;
                this.source.details.forEach(item => {
                    this.$set(item, 'checked', false);
                    if (item.allow) {
                        this.allow.push(item)
                    } else {
                        this.allowWait.push(item)
                    }
                })
            },
            computed: {
                isChecked() {
                    return this.allowWait.reduce((acc, current) => {
                        return acc + (current.checked ? 1 : 0 );
                    }, 0)
                },
                isAll: {
                    get() {
                        if (!this.allowWait.length) return false;
                        return this.isChecked === this.allowWait.length;
                    },
                    set(value) {
                        this.allowWait.forEach(item => {
                            item.checked = value;
                        })
                    }
                }
            },
            methods: {
                formatDate(date) {
                    moment.locale('zh-tw');
                    return moment(date).format('l');
                },
                delChecked() {
                    let data = [];
                    this.allowWait.forEach(item => {
                        if (item.checked) {
                            data.push(item.id);
                        }
                    });
                    if (!data.length) return;
                    Swal.fire({
                        title: `確定刪除${data.length}筆資料？`,
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: '刪除',
                        cancelButtonText:'取消',
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            this.delData(data);
                        } else {
                            return;
                        }
                    })
                },
                delData(data) {
                     $.ajax({
                        type: 'post',
                        url: '@Url.Action("delete" , new { eid = Model.Employee.EId})',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                     }).done(data => {
                             sAlert('成功刪除')
                             $(Swal.getConfirmButton()).click(function () {
                                 $('body').loading();
                                 setTimeout(function () {
                                     window.location.href = '@Url.Action("index", "holiday", new { eid = Model.Employee.EId })';
                                 }, 1500)
                             })
                        }).fail(error => {
                            console.log('error', error);
                        })
                }
            }
        })
    </script>
}

@section Style{
    <link href="~/Content/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <style>
        img {
            width: 50px;
        }

        .checkedColor {
            background-color: rgba(100, 255, 50, 0.1);
        }

        .funPos {
            position: relative;
        }

        .fun {
            position: absolute;
        }

        .funWait {
            left: -10px;
            bottom: -4px;
            z-index: 10;
        }

        .funBack {
            right: -10px;
            bottom: -4px;
            z-index: 10;
        }

        .funBtn {
            position: absolute;
            left: 200px;
            top: 5%;
            z-index: 10;
        }
    </style>
}
